Temp/
Library/
obj/
/*.csproj
/*.sln
/*.userprefs
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ClusterInputManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/UnityConnectSettings.asset