Temp/
Library/
obj/
.vs/
/*.csproj
/*.sln
/*.userprefs
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/ClusterInputManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/GraphicsSettings.asset
*.asset
ProjectSettings/ProjectVersion.txt